.form {
  background-color: rgb(116, 126, 136);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  padding: 1rem 3rem;
  border-radius: 14px;
  margin: 1rem 2rem;
}