.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

}

.input>input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.input>label {
  font-weight: 500;
}

